@model IEnumerable<MediaCollection.ServiceLayer.ViewModels.ListMediaViewModel>

@{
    ViewData["Title"] = "Music List";
}

<h1>Overview Movies</h1>
<p>
    <a asp-action="Create">Create New Serie</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th> </th>
            <th>@Html.DisplayNameFor(model => model.Title)</th>
            <th>@Html.DisplayNameFor(model => model.Country)</th>
            <th>@Html.DisplayNameFor(model => model.Genre)</th>
            <th>Media</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td><img src="@item.PosterUrl" class="img-thumbnail" style="height:100px;width:70px" /></td>
            <td>@item.Title</td>
            <td>@item.Country</td>
            <td>@item.Genre</td>
            <td>@item.Descriminator</td>
        </tr>
        }

    </tbody>
</table>



<div>
    <a asp-controller="Media" asp-action="Index">Back to List</a>
</div>